$testcolor: #000;

.secondtext {
    display: inline-block;
    font-size: 50px;
    font-weight: 900;
    color: $testcolor;
    position: relative;
    transition-delay: .1s;
    transition: .3s;
    
  }
  
  .t:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    background: #000;
    transition: 4.3s;
    left: 0;
    top: 0;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    transition-delay: 4.2s;
  }
  
  .text:before {
    width: calc(70% + 40px);
    
  }
  
  .t:after {
    content: attr(data-text);
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    color: red;
    transition: .3s;
    left: 0;
    top: 0;
    overflow: hidden;
    transition-delay: 1.2s;
    transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  
  .text:after {
    width: 100%;
    
  }